h1 {
  margin: 1;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 7rem;
  color: #adccff;
}

h2{
  font-size: 3rem;
  color: #adccff;
  font-weight: normal;
}

h3{
  color: #adccff;
}

h4{
  color: #FFFFFF;
  font-size: 2rem;
}

a{
  color: #adccff;
}

body{
  font-family: 'PT Mono', monospace;
  text-align: center;
  position: relative;
}

p{
  width: auto;
}

hr{
  color:#faf9f9;
  background-color: #faf9f9;
  width: 50%;
}

.skill{
  background: #adccff;
  text-align: center;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 1px 2px 1px;
}

.hello-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  line-height: 0.5;
  font-family: 'PT Mono', monospace;
}


div.middle-container{
  padding: 50px 100px 50px;
}

div.portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

div.responsive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.gallery {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5%;
  float: left;
}

div.gallery img {
  max-width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery:hover{
  display: block;
  border: 1px solid #777;
}

.bottom-container{
  padding-top: 40px;
  padding-bottom: 30px;
  background-color:#adccff;
  margin: 0;
  color: #adccff;
}

.footer-link{
  text-decoration: none;
  color:#ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-link:hover{
  color: #c0c0c0;
}

.copyright{
  padding-top: 20px;
  font-size: 0.7rem;
  color: #ffffff;
}


* {
  box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}